<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303829088733-217vrqdtnluhdqvvbi6f2f6kcoveq8s4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303829088733-217vrqdtnluhdqvvbi6f2f6kcoveq8s4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>303829088733-q5gv48p4vu14ej21bdopblh6rv9ol9m8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtCXk-4yP9nss3my_0yDJ2Qe5d5CG7r_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>303829088733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.getiverse</string>
	<key>PROJECT_ID</key>
	<string>getiverse-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>getiverse-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303829088733:ios:cda2ce9c96328cc56dde34</string>
</dict>
</plist>